<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simulador de Gerênciamento de Memória</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/ico" href="~/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body style="background-color:#dcdcdc;">
    <header>
        <nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/utp_logo.png" id="logo-utp" /></a>
                <a style="white-space: nowrap;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Simulador de Gerenciamento de Memória</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Simulations" asp-action="Index">Simulações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Memories" asp-action="Index">Memórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
                        </li>
                    </ul>
                </div>
                &nbsp;
                &nbsp;
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="hidden-md">
                                @ViewBag.userName
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ChangePassword", "Account")">&nbsp;&nbsp;Trocar senha</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Logout", "Account")">&nbsp;&nbsp;Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @if (ViewBag.isDashboard == true)
    {
        @RenderBody()
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Simulador de Gerenciamento de Memória, Universidade Tuiuti do Paraná - UTP
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
