@model SimuladorGerenciaMemoria.Models.Memory

@{
    ViewData["Title"] = "Criar Memória";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar Memória</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @Html.LabelFor(model => model.SimulationID, "Simulação", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("SimulationID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SimulationID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tamanho da memória (KiB)</label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tamanho do frame (bytes)</label>
                <input asp-for="FramesSize" class="form-control" />
                <span asp-validation-for="FramesSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tamanho mínimo dos processos iniciais (bytes)</label>
                <input asp-for="InitialProcessMin" class="form-control" />
                <span asp-validation-for="InitialProcessMin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tamanho máximo dos processos iniciais (bytes)</label>
                <input asp-for="InitialProcessMax" class="form-control" />
                <span asp-validation-for="InitialProcessMax" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Preenchimento inicial da memória</label>
                @Html.DropDownList("InitialState",
                    Html.GetEnumSelectList<Memory.InitialStatePickList>(),
                    "Selecione...", new { @class = "form-control" })
            </div>

            <input type="hidden" asp-for="IsGeneratedProcessList" value="0" />
            <input type="hidden" asp-for="UserID" value="@ViewBag.UserID" />

            <b id="error-message" class="text-danger">@ViewBag.Error</b><br/>
            <div class="form-group">
                <input id="submit-btn" type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $('#submit-btn').on('click', function () {
        $(setTimeout, function () {
            $(this).prop('disabled', true);
            $(this).addClass('btn-disabled');
            $(this).removeClass('btn-success');
        }, 100);        
    });    
</script>