@model IEnumerable<SimuladorGerenciaMemoria.Models.Process>

@{
    ViewData["Title"] = "Gerar Processos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gerar Processos</h1>
<hr />
@if (!ViewBag.isGenerated)
{
    <div class="row">
        <div class="col-md-4">
            <form>

                <div class="form-group">
                    <label class="control-label">Preencher restante da memória (Máximo possível @ViewBag.MaximoPossivel%)</label>
                    <input id="maximo_possivel" class="form-control" type="number" placeholder="Digite a pocentagem" />
                </div>

                <div class="form-group">
                    <label class="control-label">Tamanho mínimo do Processo (bytes)</label>
                    <input id="tamanho_minimo" class="form-control" type="number" />
                </div>

                <div class="form-group">
                    <label class="control-label">Tamanho máximo do Processo (bytes)</label>
                    <input id="tamanho_maximo" class="form-control" type="number" />
                </div>

                <div class="form-group">
                    <input id="submit-btn" type="button" value="Gerar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <script>
        $('.submit-btn').on('click', function () {
            $('.btn-success').prop('disabled', true);

            var memoriaId = '@(ViewBag.MemoryID)';
            var maximo_possivel = $('#maximo_possivel').val();
            var tamanho_minimo = $('#tamanho_minimo').val();
            var tamanho_maximo = $('#tamanho_maximo').val();

            var dataToController =
            {
                memoryID: memoriaId,
                MemoryToFeel: maximo_possivel,
                ini: tamanho_minimo,
                fin: tamanho_maximo
            };

            $.ajax({
                type: "POST",
                url: "/Memories/GerarProcessosInserir/",
                data: JSON.stringify(dataToController),
                datatype: "text",
                success: function (msg) {
                    console.log(msg);
                },
                error: function (req, status, error) {
                    console.log(msg);
                },
                done: function () {
                    $('.btn-success').prop('disabled', false);
                }
            });
        });
    </script>
}
else
{
    <div class="panel">
        <div class="panel-heading">
            <h3>Lista de processos gerados</h3>
        </div>
        <div class="panel-body">
            <div class="table">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-dark" id="tableDados">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Tamanho
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <script src="~/js/datatables.min.js"></script>

    <script>
        $('#tableDados').dataTable({
            responsive: true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar : ",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        });
    </script>
}

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.MemoryID">Voltar para detalhes</a>
</div>